@charset "utf-8";  
        /*페이지 1 fw collection*/
         #page1{
             width: 100%;
             height: 100%;
             position: relative;
             overflow: hidden;
         clear: both;
        }
         
         .vs_lst{
            width: 500%;
            height: 100%;
             position: relative;
          
        }
         .vs_lst li{
            width: 20%;
            float: left;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
         
          .vs_lst li.on {opacity: 1;}
  
 .vs_lst li.item1 video{

	min-width : 100%;
             
	min-height : 100%;
	width : auto;
	height : auto;
	z-index : 55;
             overflow: hidden;
}         
        .vs_lst li.item2{
            background-image: url(img/fw_bg_04.jpg);
            position: relative;
       
        }
         
         .vs_lst li.item2 .vs_tit {
             display: block;
             padding-top: 5em;
             padding-left: 30%;
             font-size: 2.5em;
             margin: 0 auto;
             width: 100%;
             color: #fff;
             
         }
         
         .vs_lst li.item2 .vs_com{
             display: block;
             color: #fff;
            position: absolute;
             bottom: 5%;
             left: 25%;
             width: 100%;
             font-size: 1.2em;
             line-height: 1.5;
             font-weight: 300;
         }
        .vs_lst li.item3{
            background-image: url(img/visual1.jpg);
            position: relative;
        }

         
         .vs_lst li.item3 .vs_tit {
             display: block;
             position: absolute;
          top: 20%;
             right: 10%;
             color: #fff;
             font-size: 5em;
         }
         .vs_lst li.item3 .vs_tit:after{
             content: "";
             display: block; 
             width: 200px;
             height: 3px;
             background-color: #fff;
         }
         .vs_lst li.item3 .vs_more{
             position: absolute; top: 50%; 
             right: 23%;     
         }
         
         .vs_lst li.item4{
            background-image: url(img/visual2.jpg);
              position: relative;
        }
            .vs_lst li.item4 .vs_tit {
             display: block;
             position: absolute;
                  display: block;
             position: absolute;
          top: 20%;
             left: 10%;
             color: #fff;
             font-size: 5em;
         }
         .vs_lst li.item4 .vs_more{
             position: absolute;
             top: 50% ; left: 2%;
         }
         .vs_lst li.item4 img{
            display: block;
             position: absolute;
             box-sizing: border-box;
             overflow: hidden;
             z-index: 9;
         }
         .vs_lst li.item4 .vs_tit:after{
             content: "";
             display: block; 
             width: 150px;
             height: 3px;
             background-color: #fff;
         }
  
         
         .vs_lst li.item5{
            background-image: url(img/visual3.jpg);
            position: relative;
        }

         
         .vs_lst li.item5 .vs_tit {
             display: block;
             position: absolute;
             top: 20%;
             right: 10%;
             color: #fff;
             font-size: 5em;
         }
         .vs_lst li.item5 .vs_tit:after{
             content: "";
             display: block; 
             width: 200px;
             height: 3px;
             background-color: #fff;
         }
         
         .vs_lst li.item5 .vs_more{
                position: absolute; top: 50%; 
             right: 13%; 
         }
        
         
         .vs_lst li .vs_more{z-index: 55; display: block; font-size: 2em; color: #fff; 
        border-bottom: 3px solid #fff; width: 200px;opacity: 1; text-transform: uppercase;}
        /*마진 안 먹으면 디스플레이 블럭 주기, position:relative주는 이유: 화살표만들어서 이동시키려고/ 화살표 가 둥둥떠다니는 효과를 주려고 */
         
         .btn_box1{width: 60px; height: 24px;position: absolute; z-index: 25; left: calc(50% - 30px);bottom: 30px;}
        .btn_box1 li{width: 20px; height: 20px;position: absolute; }
        .btn_box1 li.item1{left: 0;}
        .btn_box1 li.item2{left: 20px;}
        .btn_box1 li.item3{left: 40px;}
         .btn_box1 li.item4{left: 60px;}
         .btn_box1 li.item5{left: 80px;}
        .btn_box1 li .btn{width: 10px; height: 10px; border: 2px solid #fff; border-radius: 6px; display: block; margin: 0 auto; cursor: pointer; box-sizing: border-box; background: transparent;}
        
        .btn_box1 li.on .btn{background: #fff;}
        
        .play_btn{position: absolute; width: 20px; height: 24px; bottom: 30px; left: calc(50% + 70px); z-index: 25;}
        
        .play_btn li .btn{display: block; width: 12px; height: 12px; background-image: url(img/play.png); background-repeat: no-repeat; background-position: center center; margin: 0 auto; border: 0;
        }
        .play_btn li.on .btn{background-image: url(img/pause.png);}
        
         
         /*페이지 2*/
         #page2{
             width: 100%;
             height: 100%;
             position: relative;
             clear: both;
             
         }
         .vs_lst2 li.item1 video {
	min-width : 100%;
             
	min-height : 100%;
	width : auto;
	height : auto;
	z-index : 55;
             overflow: hidden;
}
        
         .vs_lst2 li.item1{
             position: relative;
         }
      
         
         .vs_lst2{width:300%; height: 100%; clear: both;}
        .vs_lst2 li{width: 33.3333%; float: left; height: 100vh; background-repeat: no-repeat; background-position: center center; background-size: cover;opacity: 1; }
        
        .vs_lst2 li.item3{background-image: url(img/nylon_01.jpg);}
         
         .vs_lst2 li.item2{
             position: relative;
             background-image: url(./img/bg_03.jpg);
         }
         
      
     
         .vs_lst2 li.item2 .vs_tit{
             display: block;
             font-size: 5rem;
             font-family: Pill Gothic, sans-serif;
             color: #333;
             position: absolute;
             padding-top: 1.5em;
            right:150px;
            text-transform: uppercase;
             
         }
         
         .vs_lst2 li.item2 .vs_com{
             display: block;
             font-size: 1rem;
             color: #333;
             font-weight: bold;
             position: absolute;
             padding-top: 25em;
             right: 50px;
             text-align: left;
         
         }
         
     
         .vs_lst2 li.item2 p{
             padding: 5px;
         }
         
           .vs_lst2 li.item3 .vs_more{z-index: 55; display: block; font-size: 1.8em; color: #fff; top: 15em; margin: 0 auto; 
        border: 3px solid #fff; background: rgba(0,0,0,0.5); width: 480px;padding: 0.5em 1em;border-radius: 50px; position: relative;opacity: 1; cursor: pointer;}
        /*마진 안 먹으면 디스플레이 블럭 주기, position:relative주는 이유: 화살표만들어서 이동시키려고/ 화살표 가 둥둥떠다니는 효과를 주려고 */
         .vs_lst2 li.item3 .vs_more .more_arrow{background-image: url(img/arrow_more_02_ico.png);background-repeat: no-repeat; width: 50px;height: 30px; position: absolute; top: 0.5em;  animation-name: arrow_ani2; animation-duration: 0.8s; animation-iteration-count: infinite; z-index:55; }
         
        @keyframes arrow_ani2{
            0%{right: 30px;}
            100%{right: 60px;}
        }
         
           .lr_btn_box{position: absolute;  z-index: 25; bottom: 40%; left: 0; }
        .lr_btn_box li{ width: 70px; height: 70px;}
        .lr_btn{display: block; width: 70px; height: 70px; background-repeat: no-repeat; background-position: center center; background-color: rgba(0,0,0,0.5); cursor: pointer;}
        .lr_btn_box li.left .lr_btn{background-image:url(img/arrow_prev.png); }
        .lr_btn_box li.right .lr_btn{background-image:url(img/arrow_next.png);}
    
      
         /*페이지 3 위치 */
         
         #page3{
            background-image: url(img/main_visual_04.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
             clear: both;
             position: relative;
        }
        .page_wrap{width: 100%; margin: 0 auto;}
         
      
         #page3 .vs_tit{
             font-size: 2rem;
             
             display: block;
             position: absolute;
             top:50%;
             left: 10%;
         }
         

         #page3 .vs_tit:before{
             content: ""; 
             display: block;
             width: 0px;
             height: 3px;
             background: #333;
             left: 3%;
             position: absolute;
             top: -20px;
             opacity: 0;
             animation-name: line;
              animation-duration: 1.5s;
             animation-iteration-count: infinite;
              animation-timing-function: linear;
         }
          #page3 .vs_tit:after{
             content: ""; 
             display: block;
              width: 0px;
             height: 3px;
             background: #333;
             left: 3%;
             position: absolute;
             top: 60px;
              opacity: 0;
              animation-name: line;
              animation-duration: 1.5s;
             animation-iteration-count: infinite;
              animation-timing-function: linear;
         }
         @keyframes line{
             0%{opacity: 0; width: 0;}
             50%{opacity: 0.5; width: 80px;}
             100%{opacity: 1; width: 170px;}
         }
         
         
             
                
       
         #page3 .more_arrow{background-image: url(img/arrow_seatch_ico.png);background-repeat: no-repeat; width: 50px;height: 30px; position: absolute; top: 50%; padding-left: 18rem; animation-name: arrow_ani2; animation-duration: 0.8s; animation-iteration-count: infinite; z-index:55; display: block; opacity: 1; cursor: pointer;}
         
        @keyframes arrow_ani2{
            0%{right: 30px;}
            100%{right: 60px;}
        }
         
         /*페이지4*/
        .thum_lst{width: 100%; height: 100%;}
        .thum_lst li{width: 33.3333%; height: 100%; float: left; background-repeat: no-repeat;
        background-position: center center; background-size: cover; position: relative;}
        .thum_lst li.item1{background-image: url(img/linda.jpg);}
        .thum_lst li.item2{background-image: url(img/film.jpg);}
        .thum_lst li.item3{background-image: url(img/club.jpg);}
        
        .thum_tit{color: #fff; text-transform: uppercase}
        
        
        .thum_lst li a{display: block;width: 100%; height: 100%; background: rgba(0,0,0,0.3); transition: 0.5s; padding-top: 6rem; box-sizing: border-box;}
        .thum_lst li a:hover{background: rgba(0,0,0,0);}
        
        .thum_lst li .pic_box{clear: both; display: block;  width: 200px; height: 200px; background-repeat: no-repeat; background-position: center center; background-color: rgba(255,255,255,0.6); border-radius: 150px;
      margin: 0 auto; position: absolute; top: 25%; left: calc(50% - 60px);}
        /*li 의 float:left영향을 받지않도록 클리어/margin: 0 auto;가 적용 안될시 디스플레이 블럭 */
        .thum_lst li.item1 .pic_box{background-image: url(img/red_logo.png);}
        .thum_lst li.item2 .pic_box{background-image: url(img/film_ico.png);}
        .thum_lst li.item3 .pic_box{background-image: url(img/ballon_ico.png);}
        
        .thum_tit{width: 100%;font-size: 2rem; line-height: 3; position: absolute; top: 45%; left: 5%; text-align: center;}
      