@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body,html{
    font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
}







/*페이지1*/
#page1 {
    position: relative;
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 90%;
}
.banFrame { width:500%; min-width:9600px; }
.banFrame li { float:left; width: 20%; height:980px; position:relative; 
}
.banFrame li img{
    width: 100%;
    display: block;
}


.btnFrame { position:absolute; top:50%; z-index:90; width:100%; }
.btnFrame li { width: 40px; height:40px; }
.btnFrame .left { float: left; margin-left: 40px; }
.btnFrame .right { float: right; margin-right: 40px; }


.btnFrame .banBtn { display:block; width: 40px; height:40px; line-height:40px;  text-align:center; font-size:20px; font-weight:600;  
background:rgba(0,0,0,0.6); border-radius:22px; color:#fff; cursor:pointer;  }

.numBtn li { position:absolute; bottom:10%; z-index:91; width:20px;
height:20px; cursor:pointer; }
.numBtn li.item1 { left:890px; }
.numBtn li.item2 { left:910px; }
.numBtn li.item3 { left:930px; }
.numBtn li.item4 { left:950px; }
.numBtn li.item5 { left:970px; }
.numBtn li button { display:block; margin:0 auto; width: 12px; 
height: 12px;  border:2px solid #fff; border-radius:9px; background:transparent; 
cursor:pointer; }
.numBtn li.on button { border:2px solid #fff; background:#fff;}

.more1,.more2,.more3,.more4,.more5{display: block; 
    position: absolute; 
width: 200px; 
    height: 50px;
color: #fff; 
    text-align: center;
    line-height: 50px;
font-size: 16px;
    font-weight: bold; 
background-color: transparent;
    border: 1px solid #fff;}

.more1{
    top: 60%; left: 19%;
}
.more2{
    top: 65%; left: 12%;
}
.more3{
    top: 58%; left: 54%;
}
.more4{
    top: 60%; left: 12%;
}
.more5{
    top: 60%; left: 12%;
}

/*페이지2*/
#page2{
    clear: both;
    width: 100%;
    height: 80vh;
  
    position: relative;
}

.content {
    width: 67%;
    float: left;
}
.cTit{
    display: block; position: absolute;
    top: 15%;
    left: 10%;
}
.sidebar {
    width: 33%;
    background-color: #ddd;
    width: 300px;
    height: 700px;position: absolute;
    right: calc(15% - 150px);
    top: -15%;
    overflow: hidden;
    
}
.sideFrame{
    width: 400%;
}
.sideFrame li{
    width: 25%;
    float: left;
    
}
.sideFrame li img{
    width:100%;
    height: 100%;
}
.features{
    width: 70%;    
    position: relative;
    top: 30%;
    left: 10%;
}
.feature {
    width: 25%;
    float: left;
   
}

.feature p{
    display: block;
        color: #333;
line-height: 1.5;
font-weight: bold;
text-align: center;
}

.pTit{font-size: 1.4375rem;
}

.pTag{
    font-size: 1.125rem;
    color: #696969;
}

.pPrice{
    font-size: 1.5rem;
}
.wrap:after, .features:after {
    content: " "; 
    display: block; 
    clear: both;
}
.wrap, .features {
    display: flex;
}
.content {
    flex: 2;
}
.sidebar {
    flex:1;
}

/*페이지3*/
#page3{
    clear: both;
    width: 100%;
    height: 100vh;
  
    position: relative;
    background-image: url(../img/bg1.jpg);
    background-position: center center;
    background-size: cover;
}
.pageTit{
    position: absolute;
    display: block;
    top: 10%;
    width: 600px;
    left: 10%;
}

.subscribe{
    width: 65%;
    height: 343px;
    background-color: #1b1b1b;
    position: relative;
    top: 24.5%; left: 0;
}

.subscribe img{
    display: block; position: absolute;
    top: 40%; left: 5%;
}
.subscribe input{
    position: absolute;
    top: 43%;
    left: 42%;
    width: 450px;
    height: 70px;
    background-color: #fafbfd;
    font-size: 1rem;
    line-height: 70px;
    text-indent: 10px;
    color: #333; 
    
}

.subBtn{
    width: 150px;
    height: 70px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    line-height: 70px;
    position: absolute;
    top: 43%;
    right: 6%;
    cursor: pointer;
}
.sp{
    color: #fff;
     font-size: 18px;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: 20%;
    left: 42%;
}

.slide2{
    clear: both;
   width: 35%;
    height: 343px;
    background-color: #eee;
    position: absolute; top: 24.5%;
   right: 0%;
     overflow: hidden;
}


.slide2_Frame{
    width: 300%;
   
}
.slide2_Frame li{
    float: left;
    width: 33.3333%;
}
.slide2_Frame li img{width: 100%; height: 343px; display: block;}


.slide3{
    clear: both;
   width: 35%;
    height: 388px;
    
    position: absolute; bottom: 0;
   right: 35%;
     overflow: hidden;
}
.slide3_Frame{width: 300%;}
.slide3_Frame li{
    width: 33.3333%;
    float: left;
    background-color: #222;
}

.slide3_Frame li img{
    width: 100%;
    height:  388px;
    display: block;
    
    opacity: 0.6;
}
.slide3_Frame li img:hover{
    opacity: 1;
}

.fresh_tit{
    position: absolute;
    top: 15%;
    left: 23%;
    z-index: 10;
}
.slide4{
    clear: both;
   width: 35%;
    height:  388px;
   
    position: absolute; bottom: 0;
   right: 0%;
     overflow: hidden;
}
.edition{
    position: absolute;
    display: block; 
    bottom: 0;right: 0;
    z-index: 10;
}

.christmas{
    width:100%;
    height: 388px;
    display: block;
    opacity: 0.7;
}
.christmas:hover{opacity: 1;}

/*페이지4*/
#page4{
    clear: both;
    width: 100%;
    height: 60vh;position: relative; overflow: hidden;}

#page4 h3{
    font-size: 3.4375rem;
    color: #333;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
    appearance: none; 
}

#page4 p{
    font-size: 1.5625rem;
    width: 60%;
    line-height: 1.5;
    margin: 0 auto;
    padding-top: 2%;
}
.spa1{
  width: 40%; 
    height: 328px;
    overflow: hidden;
    position: absolute;right: 0%;
    top: 12%;
}


.spa2{
  width: 40%; 
    height: 328px;
    overflow: hidden;position: absolute;
    top: 30%; right: -15%;
}

.more6{
    width: 250px;
    height: 80px;
    background-color: transparent;
    border: 2px solid #222;
    line-height: 4.8;
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    bottom: 15%;
    left:20%;
    text-transform: uppercase;
    text-align: left;
    text-indent: 20px;
}

.more6 img{
    width: 20px;
    height: 20px;
    position: absolute;
    top:40%;
    right: 8%;
    animation-name: more6;
    animation-timing-function: ease;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes more6{
    0%{right: 6%;}
    100%{right: 10%;}
}

