@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body,html{
    font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
}
.sub_vs{
    width: 100%;
    height: 40%;
    position: relative;
    clear: both;
    
}
.sub_vs img{width: 100%; height: 100%;position: relative;}
         
.content{width: 100%; clear: both;  }
.pageTit{width: 70%; margin: 0 auto; padding: 2.5rem;
color: #333;}
.pageTit:after{content: "";
width: 100%; height: 3px; background-color: #333; display: block; margin-top: 0.625rem;}

.list{width: 70%; margin: 0px auto; position: relative; }

.list li{
    float: left; 
    margin-left: 0.9354rem;
}
.list li a{
    color: #bbb;
    font-size: 0.875rem;
    line-height: 1.5;
    display: block;
    font-weight: bold;
}
.list li a:hover{
    color: #333;
}

        .product{width: 70%; margin: 0 auto; padding-top: 3%;}

        .product .col{float: left; width: 25%; position: relative;}
        .product .col a{display: block; text-align: center;}
        .product .col a .img{width: 200px; height: 200px;}
.mini_ban{display: block; position:absolute; left: 40%;top: 65%;}
        .proTit{font-size: 1.125rem; color: #464646; font-weight: 600;}

        .proCom{padding: 0px; font-size: 1rem; font-weight: 500;color: #505050; }
        .proCom span{font-size: 0.875rem; display: block;  color: #8b8b8b; font-weight: 600;} 
        .proCom .price{font-size: 1.125rem; color: #000; font-weight: 600;}
        
        .proCom .com{ padding: 0.3125rem;}

.mini_ban img{width: 60px; height: 20px; display: block;}

/*페이지 이동 버튼*/

.row_sub3 {
    clear: both;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}



.row_sub3 a {
    width: 26px;
    width: 1.625rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-size: 0.813em;
    font-size: 0.813rem;
    border: 1px solid #222;
    color: #222;
    transition: all 0.2s;
    text-align: center;
    margin: 0 3px;
  
}



.row_sub3 a:hover {
    background: #222;
    color: #fff;
}


        