@charset "UTF-8";
*{margin: 0; padding: 0;}

body,html{
    width: 100%; height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
button,label,input,select{
    border: 0; outline: 0;
    background-color: transparent;
}

a{text-decoration: none;}
ul{list-style: none;}
/*/ν—¤λ”*/

#hd {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #030303;
    z-index: 99;
}

.logo {
    display: block;
    position: absolute;
    top: 30px;
    left: 20%;
}

.raItem{display: none;}

#gnb {
    width: 63%;
    float: right;
    position: relative;
    z-index: 99;
}

#gnb ul li {
    float: left;
    width: 160px;
    line-height: 80px;
}

#gnb ul li a.dep1 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.icoBox {
    clear: both;
    
    position: absolute;
    top: 30px;
    right: 150px;
}

.icoBox li {
    float: left;
    margin-left: 20px;
}

.icoBox li button {
    display: block;
    cursor: pointer;
}

.icoBox li button img {
    width: 25px;
    height: 25px;
    display: block;
}


#gnb .main .sub {
    width: 100%;
    height:0px;
    visibility: hidden;
    opacity: 0;
    background-color: #383838;
    transition: 0.5s;
    z-index: 20;
}



#gnb .main .sub li {
    float: none;
    line-height: 32px;
    font-size: 14px;

}

#gnb .main .sub li a {
    color: rgba(255, 255, 255, 0.8);
    text-indent: 10px;
    display: block;
}

#gnb .main .sub li a:hover {
    font-weight: bold;
    color: #fff;
}


#gnb .main:hover .sub{
    visibility: visible;
    height: 350px;
    opacity: 1;
}

.searchBox{
    width: 300px;
    height: 1080px;
    background-color: #222;
    position: fixed;
    right: 0;

    display: none;
    
}

.searchBtn{
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
}

.searchBox input{
    width: 200px;
    height: 30px;
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 14px;
    background-color: #fff;
}

.search{
    width: 50px;height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: 10.2%;
    right: 4%;
    cursor: pointer;
}
.s_close:active{background-color: #fff; color: #333;}
       .s_close:focus{outline: 0;}

.s_close{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: block;
}
.toggle{
    position: absolute;
    left: 1%;
    top: 8%;  
    display: none;
}
.toggle img{ width: 15px; height: 50px; display: block;}
.g_close:active{background-color: #fff; color: #333;}
       .g_close:focus{outline: 0;}

.g_close{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: block;
    z-index: 90;
    display: none;
}


/*ν‘Έν„°*/
#ft{
    clear: both;
    width: 100%;
    background-color: #030303;
    height: 450px;
}
.telBox{
    width: 30%;
    height: 450px;
    float: left;
    position: relative;
}
.ftlogo{
    display: block; position: absolute;
    top: 18%; right: 28%;
}

.telBox .pBox{
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
    color: #fff;
    position: absolute;
    right: 10%;
    top: 35%;
}
.fnbBox{
    width: 70%;
    float: right;
    height: 450px;
    
    position: relative;
}
.fnb ul{
    width: 70%;
    margin: 0 auto;padding-top:60px;
}
.fnb ul li{
    float:left;
    width: 20%;
}

.fnb ul li a{
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}
.subscribe2{
    width: 650px;
    height: 230px;
    position: relative;
    top: 5%;
    left: 15%;
}
.fnbBox .subscribe2 img{
    position: absolute;
    top: 15%; left: 0;
    width: 350px;
}
.fnbBox .subscribe2 input{
     position: absolute;
    bottom: 7%;
    left: 0;
    width:350px;
    height: 50px;
    background-color: #fafbfd;
    font-size: 16px;
    line-height: 50px;
    text-indent: 10px;
    color: #333; 
}

.fnbBox .subscribe2 .subBtn2{
   width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    position: absolute;
    top: 70%;
    right: 16%;
    cursor: pointer;
}

.add{
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 10%;
    
}

.add p{
    width: 100%;
    font-size: 1em;
    line-height: 1.5;
    color: rgba(255,255,255,0.5);
}